body{
  background-color: #353b48 !important;
  margin: 0 auto !important;
  width: 99% !important;
  font-size: 20px !important;

}
h1, h3, h4, h2, p{
  color: #dcdde1 !important;
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
}

.red {
  background-color: rgb(128, 0, 0);
}

.green {
  background-color: rgb(17, 128, 0);
}

.blue {
  background-color: rgb(0, 111, 128);
}
.yellow {
  background-color: rgb(128, 122, 0);
}